{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Donated Items</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style5.css' %}">
</head>
<body>
	<h1>Items Donated</h1>
	<ul>
		<h2>Priyansh Mehta</h2>
		<h3>Donated</h3>
 		<li>Masks donated:</li>
 		<li>Oximeter donated:</li>
 		<!--<button class="btn btn-secondary">Donate</button>-->
		

	</ul>
	<ul>
		<h2>Prem Shah</h2>
		<h3>Donated</h3>
 		<li>Ventilator donated:</li>
 		<li>Mask donated:</li>
 		<li>Beds donated:</li>
 		<!--<button class="btn btn-secondary">Donate</button>-->
		

	</ul>
	<ul>
		<h2>Shruti Solani</h2>
		<h3>Donated</h3>
 		<li>Masks donated:</li>
 		<li>Oximeter donated:</li>
 		<li>Sanitizer donated:</li>
 		<!--<button class="btn btn-secondary">Donate</button>-->
		

	</ul>
	<ul>
		<h2>Shrey Sumariya</h2>
		<h3>Donated</h3>
 		<li>Masks donated:</li>
 		<li>Ventilator donated:</li>
 		<li>Sanitizer donated:</li>
 		<!--<button class="btn btn-secondary">Donate</button>-->
		

	</ul>
	<ul>
		<h2>Jai Joshi</h2>
		<h3>Donated</h3>
 		<li>Oximeter donated:</li>
 		<li>Ventilator donated:</li>
 		<li>Sanitizer donated:</li>
 		<!--<button class="btn btn-secondary">Donate</button>-->
		

	</ul>
</body>
</html>