<!DOCTYPE html>
<html>
<head>
	<title>Requirements</title>
	<link rel="stylesheet" type="text/css" href="styleindex.css">
</head>
<body>
	<section id="services" class="services">
	<div class="container">
		<h1 class="section-heading"><span>Donation</span></h1>
		<p>                </p>
		<div class="container-1">
		<div class="card-wrapper">
			<div class="card">
				<img src="./Images/Ventilator.jpeg" width="125px" height="125px"  alt="">
				<h2>Ventilators</h2>
				<input type="number" min="0" placeholder="Enter Quantity" name="Quantity" required>
				<!--<button class="btn btn-secondary">Donate</button>-->
			</div>
		</div>
		<div class="card-wrapper">
		 <div class="card">
			 <img src="./Images/masks.jpg" width="125px" height="125px" alt="">
			 <h2>Masks</h2>
			 <input type="number" min="0" placeholder="Enter Quantity" name="Quantity" required>
			 <!--<button class="btn btn-secondary">Donate</button>-->
		 </div>
		 </div>
		 <div class="card-wrapper">
			 <div class="card">
				 <img src="./Images/bed.jpg" width="125px" height="125px" alt="">
				 <h2>Bed</h2>
				 <input type="number" min="0" placeholder="Enter Quantity" name="Quantity" required>
				 <!--<button class="btn btn-secondary">Donate</button>-->
			 </div>
		 </div>
		 <div class="card-wrapper">
			 <div class="card">
				 <img src="./Images/oximeter.jpg" width="125px" height="125px" alt="">
				 <h2>Oximeter</h2>
				 <input type="number" min="0" placeholder="Enter Quantity" name="Quantity" required>
				<!--<button class="btn btn-secondary">Donate</button>-->
			 </div>
		 </div>
		 <div class="card-wrapper">
			 <div class="card">
				 <img src="./Images/Steamer.jpeg" width="125px" height="125px" alt="">
				 <h2>Steamers</h2>
				 <input type="number" min="0" placeholder="Enter Quantity" name="Quantity" required>
				 <!--<button class="btn btn-secondary">Donate</button>-->
			 </div>
		 </div>
		 <div class="card-wrapper">
			 <div class="card">
				 <img src="./Images/Sanitizer.jpeg" width="125px" height="125px" alt="">
				 <h2>Sanitizer</h2>
				 <input type="number" min="0" placeholder="Enter Quantity" name="Quantity" required>
				 <!--<button class="btn btn-secondary">Donate</button>-->
			 </div>
		 </div>
		 </div>
		 
	</div>
</section>
<button class="btn btn-secondary" >Donate</button>
</body>
</html>