{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  
  <!--  Meta  -->
  <meta charset="UTF-8" />
  <title>Sign Up for donor</title>
  
  <!--  Styles  -->
  <link rel="stylesheet" href="{% static 'css/account.css' %}">
  <link rel="stylesheet" href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' %}">
</head>
<body>

  <div class="login-page" >
		<div class="form" >
		
      
			<form class="reg-form" action="RegisterAsUser" method="post">
				{% csrf_token %}
				{{user_form.as_p}}
				{{donar_form.as_p}}
				<!--
				<input type="text" name="fname" size="40" maxlength="30" pattern="^[a-zA-Z]'?[-'a-zA-Z]+$" placeholder="First Name" required>
				<input type="text" name="lname" size="40" maxlength="30" pattern="^[a-zA-Z]'?[-'a-zA-Z]+$" placeholder="Last Name" required>
				<input type="email" name="email" size="50" placeholder="Your contact e-mail" required/>
				<input type="number" min = "0" name="phone" placeholder="Contact Number" required>

				<input list="region" placeholder ="Region" required>
					<datalist id="region">
						<option value="Africa">
						<option value="Antarctica">
						<option value="Asia">
						<option value="Australia">
     <option value="Europe">
     <option value="North America">
     <option value="South America">
					</datalist>
				
				<input type="password" name="password1" placeholder="Password" required>
				<input type="password" name="password2" placeholder="Confirm password" required/>
				<input type="textarea" name="address" maxlength="300" minlength="1" placeholder="Address" required>
				<input type="text" name="country" maxlength="50" minlength="1" placeholder="country" required>
				<input type="number" name="pincode" minlength="1" placeholder="pincode" required>
				-->
				<button type="submit">create</button>

				<p>Already registered? <a href="LoginAsUser" >Login</a></p>
			</form>
		</div>
  </div>
 <!-- <div class="loader"></div>-->
	
		
         <!--script-->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
			<script type="text/javascript">
				$('p a').click(function(){
					$('form').animate({height: "toggle", opacity:"toggle"}, "slow");
				});
   //Still working  on this part
  /*  $('button').click(function(){    $('.loafter,  form').animate({height:"toggle", opacity:"toggle"}, "slow");
    });*/
			</script>
	</body>
</html>