{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>NGO Name</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style5.css' %}">
	<STYLE>A {text-decoration: none;} </STYLE>
	<!--<style type="text/css">
		button {
		text-decoration : none;
		}
	</style>-->
</head>
<body>
	<button class="btn btn-secondary"><a href = "index">Logout</a></button>
	<h1>NGO Requirements</h1>
	<ul>
		<h2>Bhumi</h2>
		<h3>Requirements</h3>
 		<li>Masks Needed:</li>
 		<li>Oximeter Needed:</li>
		<button class="btn btn-secondary"><a href = "DonateUser">Donate</a></button>
		

	</ul>
	<ul>
		<h2>CareClub</h2>
		<h3>Requirements</h3>
 		<li>Ventilator Needed:</li>
 		<li>Mask Needed:</li>
 		<li>Beds Needed:</li>
		<button class="btn btn-secondary"><a href = "DonateUser">Donate</a></button>
		

	</ul>
	<ul>
		<h2>Smile Charities</h2>
		<h3>Requirements</h3>
 		<li>Masks Needed:</li>
 		<li>Oximeter Needed:</li>
 		<li>Sanitizer Needed:</li>
		<button class="btn btn-secondary"><a href = "DonateUser">Donate</a></button>
		

	</ul>
	<ul>
		<h2>Fortune Found</h2>
		<h3>Requirements</h3>
 		<li>Masks Needed:</li>
 		<li>Ventilator Needed:</li>
 		<li>Sanitizer Needed:</li>
		<button class="btn btn-secondary"><a href = "DonateUser">Donate</a></button>
		

	</ul>
	<ul>
		<h2>Tender Homes</h2>
		<h3>Requirements</h3>
 		<li>Oximeter Needed:</li>
 		<li>Ventilator Needed:</li>
 		<li>Sanitizer Needed:</li>
		<button class="btn btn-secondary"><a href = "DonateUser">Donate</a></button>
		

	</ul>
</body>
</html>